.card-home {
  border-radius: 2.5rem;
  padding: 1rem;
  flex-direction: column;
  border: 1px solid;
}

.dcard-home:hover {
  border-color: var(--yellow-gold);
}

.img-home {
  width: 12.5rem;
  aspect-ratio: 1;
}