.button-mais {
  padding: .4rem;
  font-weight: var(--fw-bold);
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: clamp(1rem, 1.2rem + 1vw, 2rem);
  letter-spacing: .2rem;
  margin-bottom: 4rem;
}

.button-mais:hover {
  border-bottom: 1px solid;
  filter: invert(100%) brightness(110%);
}