.pokelist {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: var(--p-mobile);
}

.pokelist .card-details {
  margin: 10vh 0 2vh;
  max-width: 76.8rem;
  border-radius: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 2vw;
  gap: 1.2rem;
}

.pokelist .card-details .img-details {
  border-radius: .6rem;
  width: 100%;
  display: grid;
  place-items: center;
}

.pokelist .card-details .img-details .image {
  padding: 1rem;
  max-width: 22.6rem;
  width: 50%;
}

.pokelist .card-details .dates-pokemon .info-details {
  font-size: var(--fs-normal);
  text-transform: capitalize;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pokelist .card-details .dates-pokemon .info-details :where(.name, .types, .abilities, .moves) {
  padding: .4rem;
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0 12px;
  border-radius: 8px;
}

.pokelist .card-details .dates-pokemon .info-details .name {
  padding-left: 2.4rem;
}

.pokelist .card-details .dates-pokemon .info-details :where(.types, .abilities, .moves) li {
  list-style: circle;
  margin-left: 2rem;
  font-size: var(--fs-normal);
}