.pokelist {
  /* min-height: 100vh; */
  padding: var(--p-mobile);
}

.pokelist .card-details {
  margin: 10vh 0 2vh;
  max-width: 76.8rem;
  border-radius: 1.8rem;
  padding: 2vh 2vw;
  border: 1px solid;
}

.pokelist .card-details .info-pokemon {
  font-size: var(--fs-big);
  text-align: center;
}

.pokelist .card-details .img-details {
  border-radius: .6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin: 1.5vh 0;
}

.pokelist .card-details .img-details .image {
  padding: 1rem;
  max-width: 22.6rem;
  width: 50%;
  filter:
    brightness(90%) contrast(85%) saturate(80%);
}

.pokelist .card-details .dates-pokemon .info-details {
  font-size: var(--fs-normal);
  text-transform: capitalize;
  text-align: justify;
}

.pokelist .card-details .dates-pokemon .info-details :where(.name, .types, .abilities, .moves) {
  overflow-y: auto;
  font-size: var(--fs-normal);
  font-weight: var(--fw-light);
  padding: .4rem;
  display: flex;
  flex-wrap: wrap;
  margin: .4rem 0 1.2rem;
  border-radius: 8px;
}

.pokelist .card-details .dates-pokemon .info-details .name {
  padding-left: 2.4rem;
}

.pokelist .card-details .dates-pokemon .info-details :where( .types, .abilities, .moves) li {
  list-style: circle;
  margin: 0 2rem;
  font-size: var(--fs-normal);
}