.header {
  height: 7vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.header .container-header {
  width: 100%;
  max-width: 1280px;
}

@media (max-width: 1280px) {
  .header .container-header {
    padding: 0 2.5vw;
  }
}

.pokemon-text {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: var(--fs-big);
  font-weight: var(--fw-bold);
  color: var(--yellow-gold);
  letter-spacing: .3rem;
  text-shadow:
    1px 1px var(--primary-dark),
    0 0 2px var(--primary-dark),
    -1px -1px var(--primary-dark);
    transition: 100ms ease-in-out all;
}

.pokemon-text:hover {
  transform: scale(1.1);
}