@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Pokemon Hollow';
  src: url(../assets/fonts/pokemon-hollow.ttf);
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url(../assets/fonts/pokemon-solid.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}

body{
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.transition-ease {
  transition: 200ms ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: capitalize;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}