@font-face {
  font-family: 'Pokemon Hollow';
  src: url(../assets/fonts/pokemon-hollow.ttf);
}

@font-face {
  font-family: 'Pokemon Solid';
  src: url(../assets/fonts/pokemon-solid.ttf);
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transition{
  transition: 250ms all linear;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-bold);
  text-transform: capitalize;
}
