:root {
  --primary-color-light: #ed5564;
  --primary-color-dark: #264073;

  --yellow-gold: #ffcb05;
  --blue-marine: #3464ae;

  --hiperlink-blue: #00f;
  --hiperlink-yellow: #ff0;

  --white: #e6e9ee;
  --black: #434a54;
  
  --white-dark:#8c8f9c;
  --white-bgCard-dark: #696d76;

  --bgInput-light: #f17782;
  --bgInput-dark: #0a275c;

  /* FONTS */
  --fs-small: .8rem;
  --fs-normal: 1.7rem;
  --fs-big: 2.8rem;
  --fs-extra: 3.4rem;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 700;

  /* PADDING */
  --p-mobile: 0 2.5%;
}
